// HEADER
.header {
  background: {
    image: url("../img/header-bg-overlay.png"),
    url("../img/header-bg.png");
    repeat: no-repeat;
    position: center;
    size: cover
  }
  min-height: 100vh;

  & > .container {
    @extend %container;
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    @media screen and (max-width: $medium-size) {
      position: relative;
    }

    .header__navigation {
      flex-basis: 100%;
      text-align: right;
      padding-top: 24px;

      @media screen and (max-width: $medium-size) {
        display: none;
      }

      & > a {
        display: inline-block;
        color: #fff;
        font-family: "MuseoSans-Bold", "Arial", sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 30px;
        transition: color .5s ease-in-out;

        &:hover, &.active {
          cursor: pointer;
          color: $dark-gray;
        }
      }
    }

    #bars {
      width: 100%;
      background-color: rgba(51, 51, 51, 1);
      display: none;
      position: relative;
      top: 0;
      left: 0;
      height: 10vh;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }

      @media screen and (max-width: $medium-size) {
        display: flex;
        justify-content: flex-end;
      }

      & > a {
        display: flex;
        align-items: center;;
        width: 40px;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        -webkit-transition: all .5s ease-in-out;

        &:hover {
          opacity: .3;
        }
      }
    }

    #mobile-navigation {
      display: none;
      width: 100%;
      height: 90vh;
      background-color: rgba(51, 51, 51, .8);
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 999;

      @media screen and (max-width: $medium-size) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & > a {
        display: block;
        text-decoration: none;
        font-weight: lighter;
        letter-spacing: 1px;
        text-align: center;
        padding: 6px 0 6px 0;
        color: #fff;
        font-family: "MuseoSans-Bold", "Arial", sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        transition: transform .5s ease-in-out;

        &:hover {
          cursor: pointer;
          -webkit-transform: translate(7px);
        }
      }
    }

    & > .header__content {
      max-width: 960px;
      margin: 0 auto;
      color: #fff;
      text-align: center;

      //@media screen and (max-width: $medium-size) {
      //  margin-top: 150px;
      //}

      h1 {
        font-family: "MuseoSans-Light", "Arial", sans-serif;
        font-size: 38px;
        color: $light-gray;
        opacity: .5;
        text-transform: uppercase;

        @media screen and (max-width: $medium-size) {
          margin-bottom: 0;
        }
      }
      h2 {
        font-size: 30px;
        text-transform: uppercase;

        @media screen and (max-width: $medium-size) {
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      & > .content__description {
        font-family: "MuseoSans-Light", "Arial", sans-serif;
        font-size: 16px;
      }
      & > .content__button {
        border: none;
        outline: none;
        display: inline-block;
        background-color: $dark-gray;
        padding: 9px 50px;
        -webkit-border-radius: 30px;
        color: #fff;
        font-family: "MuseoSans-Normal", "Arial", sans-serif;
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        transition: background-color .5s ease-in-out;
        margin-top: 75px;

        @media screen and (max-width: $medium-size) {
          margin-top: 10px;
          margin-bottom: 5px;
        }

        &:hover {
          cursor: pointer;
          background-color: lighten($dark-gray, 15%);
        }
      }
    }
  }
}
// INQUIRE
.inquire {
  background-color: $dark-gray;
  padding: 40px 0;

  & > .container {
    @extend %container;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $light-gray;

    @media screen and (max-width: $medium-size) {
    display: block;
    text-align: center;
    }

    & > .inquire__button {
      border: none;
      outline: none;
      display: inline-block;
      -webkit-border-radius: 30px;
      background-color: $red;
      padding: 7px 50px;
      text-decoration: none;
      color: #fff;
      transition: background-color .5s ease-in-out;

      @media screen and (max-width: $medium-size) {
      margin-top: 25px;
    }

      &:hover {
        cursor: pointer;
        background-color: lighten($red, 15%);
      }
    }
  }
}
// PLATFORM
.platform {
  padding: 100px 0;

  & > .container {
    @extend %container;

    & > h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 10px;
    }
    & > h3 {
      text-align: center;
      margin-top: 0;
    }
    & > .platform__items {
      margin-top: 65px;
      position: relative;

      @media screen and (max-width: $medium-size) {
        padding-left: 35px;
      }

      @media screen and (max-width: $small-size) {
        padding-left: 0;
      }

      & > .platform__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;

        @media screen and (max-width: $medium-size) {
          display: block;
          text-align: center;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }

        & > .platform__column {
          flex: 1;
          padding: 0 30px;

          & > .platform__icons {
            margin-top: 35px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            opacity: .5;

            @media screen and (max-width: $small-size) {
              display: block;
            }

            img {
              max-width: 100%;
              margin-right: 30px;

              @media screen and (max-width: $medium-size) {
                margin: 0 auto;
              }

              @media screen and (max-width: $small-size) {
                display: inline-block;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }

          img {
            max-width: 100%;
            transition: transform .5s ease-in-out;

            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }
          h4 {
            font-size: 16px;
            line-height: 1.6;
          }
        }
      }
      & > .platform__red-dot {
        position: absolute;
        width: 1px;
        height: 50%;
        background: $lighten-gray;
        left: 50%;
        top: 18px;

        @media screen and (max-width: $medium-size) {
          left: 20px;
        }

        @media screen and (max-width: $small-size) {
          display: none;
        }

        & > .red-dot__container {
          position: absolute;
          width: 34px;
          height: 34px;
          left: -17px;
          top: -6px;
          -webkit-border-radius: 50%;
          border: 1px solid $lighten-gray;
          background: #fff;
        }
        & > .red-dot {
          position: sticky;
          width: 25px;
          height: 25px;
          margin-left: -12px;
          top: 30vh;
          background: $red;
          -webkit-border-radius: 50%;
        }
      }
    }
  }
}
// PRODUCT
.product {
  padding: 100px 0;
  background: linear-gradient(to right, #e4474e, #6f3235);

  & > .container {
    @extend %container;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $medium-size) {
      display: block;
    }

    & > .product__column {

      &.product__column-1 {
        flex-basis: 65%;
        margin-right: 30px;

        @media screen and (max-width: $medium-size) {
          margin-bottom: 35px;
          margin-right: 0;
        }

        & > .product__row-1 {
          h2 {
            font-size: 30px;
            margin-bottom: 5px;

            @media screen and (max-width: $medium-size) {
              text-align: center;
            }
          }
          .note {
            font-style: italic;

            @media screen and (max-width: $medium-size) {
              text-align: center;
            }
          }
        }
        & > .product__row-2 {
          margin-top: 65px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > .name {
            color: $dark-gray;
            font-family: "MuseoSans-Bold", "Arial", sans-serif;
            font-size: 18px;
            margin-right: 30px;
          }
          & > .line {
            position: relative;
            flex: 1;
            height: 1px;
            background: $light-gray;
          }
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            -webkit-border-radius: 50%;
            background: $red;
            position: absolute;
            right: 0;
            top: -18px;
            transition: background-color .5s ease-in-out;

            &:before {
              content: "+";
              display: block;
              font-family: "MuseoSans-Bold", "Arial", sans-serif;
              font-size: 20px;
              color: #fff;
            }
            &:hover {
              cursor: pointer;
              background-color: lighten($red, 15%);
            }
          }
        }
        & > .product__row-3 {
          margin-top: 15px;
          max-width: 335px;
          font-size: 14px;
          line-height: 1.7;

          @media screen and (max-width: $medium-size) {
            margin: 0 auto;
            padding-top: 20px;
            text-align: center;
          }
        }
      }
      &.product__column-2 {
        flex: 1;
        margin: 0 auto;
        width: 60%

        & > .product__square {
          padding-top: 100%;
          position: relative;

          & > .product__content {
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            position: absolute;
            width: 98%;
            height: 98%;
            border: 3px dashed rgba(255, 255, 255, 0.37);
            -webkit-border-radius: 30px;
            -webkit-transition: border-color .5s ease-in-out;

            &:hover {
              cursor: pointer;
              border-color: $light-gray;
            }

            & > .product__text {
              font-family: "MuseoSans-Bold", "Arial", sans-serif;
              font-size: 16px;
              text-transform: capitalize;
              text-align: center;
              line-height: 1.7;
            }
          }
        }
      }
    }
  }
}
// PEOPLE
.people {
  position: relative;
  padding: 100px 0;

  @media screen and (max-width: $medium-size) {
    padding-bottom: 0;
  }

  & > .container {
    @extend %container;

    & > .people__head {
      text-align: center;
      h2 {
        font-family: "MuseoSans-Light", "Arial", sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        color: $dark-gray;
      }
      & > .people__description {
        max-width: 940px;
        margin: 0 auto;
        line-height: 1.7;
      }
    }

    & > .people__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 100px;

      @media screen and (max-width: $small-size) {
        display: block;
      }

      & > .people__column {
        flex: 1;
        padding: 0 30px;
        color: $dark-gray;
        text-align: center;
        margin-bottom: 50px;

        @media screen and (max-width: $small-size) {
          display: block;
        }

        & > .photo__wrapper {
          position: relative;
          width: 150px;
          height: 150px;
          padding: 20px;
          margin: 0 auto;
          -webkit-transition: transform .3s ease;

          &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.1);

            & > .people__border {
              -webkit-transform: rotate(360deg);
            }
          }

          & > .people__border {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/circle.jpg") no-repeat center / contain;
            -webkit-transition: transform .3s ease;
            -webkit-border-radius: 35%;
          }
          & > .people__photo {
            position: relative;
            width: 100%;
            height: 100%;
            -webkit-border-radius: 50%;
            background: no-repeat center / cover;

            &.girl-1 {
              background-image: url("../img/people-girl-1.jpg");
            }
            &.girl-2 {
              background-image: url("../img/people-girl-2.jpg");
            }
          }
        }
        & > .people__name {
          margin-top: 50px;
          text-align: center;
          font-size: 24px;
          color: #0f1017;
        }
        & > .people__title {
          font-family: "MuseoSans-Light", "Arial", sans-serif;
          font-size: 16px;
          text-align: center;
          margin-top: 10px;
        }
        & > .people__info {
          font-family: "MuseoSans-Light", "Arial", sans-serif;
          font-size: 14px;
          line-height: 1.7;
          text-align: center;
          color: lighten($dark-gray, 15%);
          max-width: 430px;
          margin: 25px auto 0 auto;
        }
      }
    }
  }
}
// FOOTER
.footer {
  padding: 100px 0;
  background: $dark-gray;

  & > .container {
    @extend %container;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @media screen and (max-width: $medium-size) {
      display: block;
    }

    & > .footer__column {
      min-height: 100px;
      border-right: 1px solid $gray;
      padding: 0 35px;

      @media screen and (max-width: $medium-size) {
        border: none;
        text-align: center;
        padding: 0;
      }

      &.grow {
        flex: 2;
      }

      &:first-child {
        padding-left: 0;
        padding-right: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: 0;
      }

      h3 {
        text-transform: uppercase;
        font-family: "MuseoSans-Bold", "Arial", sans-serif;
        color: $gray;
      }

      & > .footer__social {
        display: inline-flex;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background: #323232;
        border-radius: 10px 0;
        text-decoration: none;
        color: $light-gray;
        margin-right: 5px;
        transition: background .3s ease-in-out;

        &:hover {
          background: lighten(#323232, 15%);
        }
      }
      input[type="email"] {
        outline: none;
        border: none;
        padding: 10px 15px;
        background-color: #323232;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: inset 4.2px -2.7px 5px rgba(0, 1, 1, 0.2);
        min-width: 310px;
        -webkit-box-sizing: border-box;
        color: $light-gray;

        @media screen and (max-width: $medium-size) {
          min-width: 90%;
        }
      }

      &.footer__column-3 {
        flex: 2.5;

        & > .column-3__row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          & > .column-3__column {
            color: $light-gray;

            a {
              color: #9d484c;

              &:hover {
                cursor: pointer;
                color: $red;
              }
            }
            &:first-child {
              text-transform: capitalize;
            }
          }
        }
        & > .copyright {
          color: $light-gray;
          margin-top: 100px;
        }
      }
    }
  }
}
// ANIMATION
[data-js-animation] {
  opacity: 0;
}
